[Unit]
Description=Producer Script Service
After=kafka.service
Requires=kafka.service

[Service]
ExecStartPre=/usr/bin/python3 -m pip install -r /root/wikipedia-edits-visualizer/kafka/producer/requirements.txt
ExecStart=/usr/bin/python3 /root/wikipedia-edits-visualizer/kafka/producer/main.py
WorkingDirectory=/root/wikipedia-edits-visualizer/kafka/producer
Restart=always

[Install]
WantedBy=multi-user.target